.container
  text-align: center
  padding: 25em 0

.container h1
  font-size: 54px

.container form
  margin-top: 30px

.container mat-form-field
  width: 420px

.container button
  width: 100px

.div
  display: block
