<div class="container">
<h1>Shorten your link!</h1>
<form (ngSubmit)="createLink(); f.reset()" #f="ngForm" fxLayout="column">
  <mat-form-field appearance="fill">
    <mat-label>Link</mat-label>
    <input name="userLink" matInput ngModel/>
  </mat-form-field>
  <div>
  <button mat-raised-button type="submit">Shorten!</button>
  </div>
</form>
  <div>
  <p style="font-weight: bolder; margin-top: 25px">Your link now looks like:</p>
    <p><a href="http://localhost:8000/link/{{ this.newLink }}">http://localhost:8000/{{ this.newLink }}</a></p>
  </div>
</div>
